/* display: grid */
#card{  
    border: 2px solid rgb(95, 95, 95);
    border-radius: 8px;
    padding: 16px;
    color: rgb(48, 48, 48);
    background-color: rgb(228, 228, 228);
}

img{
    border-radius: 8px;
    border: 2px groove rgb(95, 95, 95);
    height: 100%;
    width: 100%;
}

#image{
    position: relative;
}

h2{
    margin-top: 0;
}

#price{
    display: inline-block;
}
s{
    font-size: 12px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.material-symbols-outlined {
    font-size: 15px !important;
    color: rgb(255, 37, 74);
    font-variation-settings:
    'FILL' 1,
    'opsz' 24
}

#favorite{
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    left: 8px;
}

button{
    color: white;
    background-color: black;
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}

