html {
    background-image: url('./img/fundo-site.png');
    
}

body { 
    margin: 0;
}

h1{
    background-image: url('./img/fundo-site2.jpg');
    background-size: cover;
    height: 3.6875rem;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

h2 {
    color: #7a786a;
}

#conteudo{
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url('./img/fundo-h2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

