html {
    background-image: url('./img/fundo-site.png');
    
}

body { 
    margin: 0;
}

h1{
    background-image: url('./img/fundo-site2.jpg');
    background-size: cover;
    height: 3.6875rem;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#conteudo{
    margin-left: 1rem;
    margin-right: 1rem;
}

